body{
    height: 100%;
    max-width: 100%;
    margin:0px;
    border:0px;
    
    
    
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:300px;
    margin: 0px;
    overflow: hidden;
}

.intro{
    display: flex;
    height:300px;
    width:100%;
    background-color: chartreuse;
    float: right;
    overflow: hidden;
    

}
.textintro{
    /* display: flex;
    flex-direction: row; */
    margin-top: 75px;
    margin-right:200px;
    overflow: hidden;
}
h1{
    position: absolute;
    top:0;
    left:0;
}
.mypic{
    display: flex;
    border: 1px;
    /* width: 100%; */
    height:300px;
    object-fit: cover;
    /* left:70%; */
    overflow: hidden;
}

canvas{
    background-color: black;
    width: 100%;
    height: 300px;
    /* height: 200px;
    width:100%; */
    margin: 0px;
    display: block;
    
}

.about-me{
    height: 100px;
    width:100%;
    background-color: red;
    margin-top: 0px;
    
    
}
.tuts{
    display: flex;
    width:100%;
    height:100px;
    background-color:silver;
    

}
.xtra{
    height:100px;
    width:100%;
    background-color: aquamarine;
    
}
